table, th, tr, td{
border:1px solid black;
border-collapse: collapse;
padding: 5px;
}
th, td {
    text-align: center;
}

h1{
    text-align: center;
}

table {
    width:90%;
    margin: 0 auto;
}

tr:hover{
    background-color: rgb(209, 227, 221);
}
#lastTable{
    width: 90%;
}

div{ 
    width:60%;
    margin: 0 auto;
} 

@media screen and (max-width: 768px) {
    div{
        width: 100%;
    }
    .firsttwo{
        width: 90%;
        font-size: 14px;
        margin: 0 auto;
    }
    #lastTable{
        width: 80%;
        font-size: 14px;
        margin: 0 auto;
    }
    
}
@media screen and (max-width: 460px) {
    div{
        width: 100%;
    }
    .firsttwo{
        width: 98%;
        font-size: 12px;
        margin: 0 auto;
    }
    #lastTable{
        width: 98%;
        font-size: 12px;
        margin: 0 auto;
    }
    
}